@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(237, 233, 219);
  text-align: center;
}

h1 {
  font-family: "Cormorant Garamond", Georgia, Cambria, serif;
  font-weight: 300;
  font-size: 300%;
}

h1.emoji-header {
  font-size: 600%;
  margin: 2rem;
}

dt {
  font-size: 150%;
}

dd {
  margin: 0.5rem 0 1.5rem 0;
}
