@import url("https://fonts.googleapis.com/css2?family=Sacramento&family=Dancing+Script&display=swap");

:root {
  --accent-hue: 53;
}

body {
  font-family: Sacramento, cursive;
  /* background-color: hsl(46, 60%, 91%); */
  /* background-color: hsl(35, 60%, 91%); */
  background-color: rgb(255, 249, 235);
  text-align: center;
  padding: 2rem;
  margin: 0;
  color: black;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sparkleLayer {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

h1 {
  font-size: 52px;
  margin: 0;
}

@media (max-width: 400px) {
  .sub-announce {
    font-size: 42px;
    position: relative;
    top: -1.5rem;
  }
}

h2 {
  font-size: 36px;
  font-weight: normal;
}

.portrait {
  flex-grow: 0;
  flex-shrink: 0;
  width: calc(100vw - 4rem);
  margin-bottom: 2rem;
}

.portrait img {
  width: 100%;
  max-width: 20rem;
  box-sizing: border-box;
  /* border-width: 6px;
  border-style: ridge;
  border-color: hsl(26, 62%, 93%); */
  border-radius: 100%;
  border: 2px solid hsl(var(--accent-hue), 95%, 68%);
}

.dt-sep {
  display: none;
}

.divider {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  word-spacing: 30px;
  color: hsl(var(--accent-hue), 100%, 49%);
}

dt {
  font-size: 130%;
  margin-top: 2.5rem;
}

dd {
  margin: 0.5rem 0 0 0;
}

a,
a:active,
a:visited {
  color: hsl(var(--accent-hue), 100%, 45%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 1023px) {
  .time {
    font-size: 75%;
    position: relative;
    top: -0.5rem;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    height: 100%;
  }

  body {
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
  }

  .dt-sep {
    display: inline;
  }

  .portrait {
    margin-bottom: 0;
    width: auto;
    margin-right: 2rem;
  }

  .portrait img {
    width: auto;
    max-width: calc(100vw - 700px);
    max-height: 70vh;
  }

  .content br {
    display: none;
  }
}

/* Adapted from https://codepen.io/kucsatax/pen/vyWevX */
.shine {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(sparkle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  overflow: hidden;
  color: transparent;
  opacity: 0;
  animation: glitter 6s linear 0s infinite normal;
  z-index: 1;
}

.shine.small {
  width: 25px;
  height: 25px;
}

.shine.medium {
  width: 35px;
  height: 35px;
}

.shine.large {
  width: 50px;
  height: 50px;
}

/*CSS3 keyframes for glittering effect*/
@keyframes glitter {
  0% {
    transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
  25% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.3) rotate(720deg);
    opacity: 0;
  }
  100% {
    transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
}
