@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Cormorant+Garamond&display=swap');

body {
  font-family: "Cormorant Garamond", Georgia, Cambria, serif;
  background-color: hsl(96, 22%, 91%);
  text-align: center;
}

h1 {
  font-family: Sacramento, cursive;
  /* font-weight: 300; */
  font-size: 300%;
}

h1.emoji-header {
  font-size: 600%;
  margin: 2rem 0 -2rem;
}

.portrait {
  border-width: 4px;
  border-style: ridge;
  border-color: hsl(96, 57%, 92%)
}

hr {
  width: 7rem;
  border: none;
  border-top: 1px solid black;
}

dt {
  font-size: 150%;
}

dd {
  margin: 0.5rem 0 1.5rem 0;
}
